@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&display=swap");
:root {
  --Cyan: hsl(179, 62%, 43%);
  --Bright-Yellow: hsl(71, 73%, 54%);
  --Light-Gray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: var(--Light-Gray);
}
.primero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor_principal {
  width: 315px;
  height: 725px;
  margin: 40px 20px;
  border-radius: 5%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--GrayishBlue);
}

.contenedor {
  margin: 0;
}
.card1 {
  background-color: white;
  width: 315px;
  height: 265px;
  padding: 20px 15px;
}
.card1 h1 {
  color: var(--Cyan);
  font-size: 25px;
  padding-bottom: 30px;
}
.card1 h2 {
  color: var(--Bright-Yellow);
  font-size: 20px;
  padding-bottom: 30px;
}
.card1 p {
  color: var(--GrayishBlue);
}
.card2 {
  background-color: var(--Cyan);
  padding: 20px 15px;
  width: 315px;
  height: 230px;
}

.card2 h1 {
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
}
.card2 h2 {
  color: white;
  position: relative;
}
.card2 h2 span {
  color: var(--Light-Gray);
  font-size: 15px;
  position: absolute;
  bottom: 6px;
  left: 60px;
}
.chaja {
  padding-bottom: 10px;
}
.card2 p {
  color: var(--Light-Gray);
  padding-bottom: 30px;
}
.boton {
  padding-left: 8px;
}
.card2 button {
  width: 265px;
  height: 50px;
  background-color: var(--Bright-Yellow);
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: var(--GrayishBlue);
  font-size: 15px;
}

.card3 {
  background-color: hsl(179, 49%, 36%);
  width: 315px;
  height: 230px;
  padding: 20px 15px;
}

.card3 h1 {
  font-size: 20px;
  color: white;
  padding-bottom: 15px;
}
.card3 p {
  width: 180px;
  height: 130px;
  font-size: 13px;
  color: white;
  line-height: 20px;
}

@media only screen and (min-width: 1000px) {
  .contenedor_principal {
    width: 625px;
    height: 470px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 215px 260px;
  }
  .contenedor1 {
    grid-column: 1/-1;
    grid-row: 1;
  }
  .card1 {
    width: 625px;
    height: 220px;
  }
  .contenedor2 {
    grid-row: 2/2;
  }
  .card2 {
    width: 315px;
    height: 250px;
  }
  .contenedor3 {
    grid-row: 2/2;
  }
  .card3 {
    width: 315px;
    height: 250px;
  }
}
